<section id="hero" class="flex flex-col h-screen items-center relative py-10 px-12 max-w-screen-2xl mx-auto">
    <svg class="absolute top-[65px] left-0 w-full "  width="1093" height="951" viewBox="0 0 1093 951" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0C0.999984 371.389 0.999975 579.611 0.999958 951" stroke="#212121" stroke-width="2" stroke-dasharray="4 4"/>
        <line x1="1091.5" y1="4.37114e-08" x2="1091.5" y2="951" stroke="#212121" stroke-width="2" stroke-dasharray="4 4"/>
        <path d="M542.001 -1.1802e-05C542.001 371.389 542.001 579.611 542.001 951M819.5 0C819.5 371.389 819.5 579.611 819.5 951" stroke="#212121" stroke-width="2" stroke-dasharray="4 4"/>
        <path d="M271.5 0L271.5 951" stroke="#212121" stroke-width="2" stroke-dasharray="4 4"/>
        </svg>
        
    <div class="flex items-center justify-center flex-col flex-grow w-full relative">
        <svg class="absolute top-20 right-0 rotate-180" width="195" height="283" viewBox="0 0 195 283" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M101 281C101 282.105 100.105 283 99 283H2C0.895431 283 0 282.105 0 281L0 184C0 182.895 0.895431 182 2 182H99C100.105 182 101 182.895 101 184V281Z" fill="white"/>
            <path d="M101 190C101 191.105 100.105 192 99 192H2C0.895431 192 0 191.105 0 190L0 93C0 91.8954 0.895431 91 2 91H99C100.105 91 101 91.8954 101 93V190Z" fill="white"/>
            <path d="M195 190C195 191.105 194.104 192 193 192H95.9999C94.8953 192 93.9999 191.105 93.9999 190V93C93.9999 91.8954 94.8953 91 95.9999 91H193C194.104 91 195 91.8954 195 93V190Z" fill="white"/>
            <path d="M101 99C101 100.105 100.105 101 99 101H2.00002C0.895447 101 1.52588e-05 100.105 1.52588e-05 99V1.99997C1.52588e-05 0.895401 0.895447 -3.05176e-05 2.00002 -3.05176e-05H99C100.105 -3.05176e-05 101 0.895401 101 1.99997V99Z" fill="white"/>
            </svg>
        <svg class="absolute bottom-20 left-0" width="195" height="283" viewBox="0 0 195 283" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M101 281C101 282.105 100.105 283 99 283H2C0.895431 283 0 282.105 0 281L0 184C0 182.895 0.895431 182 2 182H99C100.105 182 101 182.895 101 184V281Z" fill="white"/>
        <path d="M101 190C101 191.105 100.105 192 99 192H2C0.895431 192 0 191.105 0 190L0 93C0 91.8954 0.895431 91 2 91H99C100.105 91 101 91.8954 101 93V190Z" fill="white"/>
        <path d="M195 190C195 191.105 194.104 192 193 192H95.9999C94.8953 192 93.9999 191.105 93.9999 190V93C93.9999 91.8954 94.8953 91 95.9999 91H193C194.104 91 195 91.8954 195 93V190Z" fill="white"/>
        <path d="M101 99C101 100.105 100.105 101 99 101H2.00002C0.895447 101 1.52588e-05 100.105 1.52588e-05 99V1.99997C1.52588e-05 0.895401 0.895447 -3.05176e-05 2.00002 -3.05176e-05H99C100.105 -3.05176e-05 101 0.895401 101 1.99997V99Z" fill="white"/>
        </svg>
        <h1 class="text-[160px] font-bold mb-10 leading-tight">Software <br> <span class="ml-20">Engineer</span></h1>
        <p class="text-xl font-light">Adrian Palacios</p>
    </div>
    
    <div class="footer-hero w-full flex justify-between">
        <div class="social">
            <a href="">github</a>,
            <a href="">linkedin</a>
        </div>
        <div class="email">
            <a href="">email: emailemail@gmail.com</a>
        </div>
    </div>
</section>